
.light-box-main h2 {
  text-align: center;
  text-transform: uppercase;
}
.light-box-main p {
  font-size: 20px;
  color: #1c2d91;
}
.light-box-main ul {
  padding: 0;
  list-style-type: disclosure-closed;
  padding-left: 20px;
  font-size: 16px;
}
.light-box-main ul li {
  padding-bottom: 8px;
  color: #4f4e4e;
  font-size: 18px;
}
.light-box-main ul li div {
  padding-bottom: 10px;
}
